@inject ILocalStorageService LocalStorage

<div class="col-sm-6">
	<h2>Counter</h2>
	<h1 class="display-3">
		@currentCount
	</h1>
	<p>
		Local Storage counter
	</p>
	<p>
		<button class="btn btn-primary" @onclick="IncrementCount">Count Up</button>
	</p>
</div>

@code {
	private int currentCount = 0;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			currentCount = await LocalStorage.GetItemAsync<int>("Counter");
			StateHasChanged();
		}
	}

    private void IncrementCount()
    {
        currentCount++;
		LocalStorage.SetItemAsync<int>("Counter", currentCount);
    }
}
